<div class="jumbotron">
    <h1>Appointments API</h1>
    <p class="lead">This website hosts the API dedicated to Appointments functionnalities. You can read the full API documentation by navigating API menu.</p>
</div>
<div class="row">
    <h2>Release notes:</h2>
    <blockquote style="border-left-color:#4cae4c">
        <h3>0.0.161015 <small>2016-10-15</small></h3>
        <p>First <strong>Alpha release</strong>. Provides functionalities to register and authenticate.</p>
        <ul>
            <li><strong>Account Controller</strong> Initial implementation.</li>
        </ul>
    </blockquote>
</div>